<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/test/pay/doPay">
    <input type="text" name="requestNo" value="${orderNo}"><br>
    <input type="text" name="orderNo" value="${orderNo}"><br>
    <input type="text" name="productName" value="理财TEST"><br>
    <input type="text" name="productPrice" value="0.01"><br>
    <input type="text" name="productNumber" value="1"><br>
    <input type="text" name="amount" value="0.01"><br>
    <input type="text" name="bizCode" value="LICAI"><br>
    <button type="submit">提交</button><br>
</form>
</body>
</html>